{% load i18n %}       {# For the "trans" tag #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% trans "My profile" %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
    </head>
<body>
    <h1>{% trans "My profile" %}</h1>

    <ul>
        <li>{% trans "Username" %}: {{ user.username }}</li>
        <li>{% trans "Email" %}: {{ user.email }}</li>
        <li>{% trans "Name" %}: {{ user.first_name }} {{ user.last_name }}</li>
        <li>{% trans "Year of birth" %}: {{ user.profile.birth_year }}</li>
    </ul>

    <h2>{% trans "Available actions" %}</h2>
    <ul>
        <li>{% trans "Go back to the" %} <a href="{% url 'main_page' %}">{% trans "main page" %}</a></li>
        <li>...{% trans "Logout" %}...</li>
        <li>...{% trans "Change-your-password link here" %}...</li>
    </ul>
</body>
</html>
